 .btn {
     padding: 5px;
     margin: 5px;
     border: none;
     border-radius: 2px;
 }

 .btn_go {
     background-color: lightgreen;
     color: white;
     padding: 15px;
     border-radius: 5px;
     border: none;
 }

 .btn:hover {
     background-color: lightgreen;
     color: white;
     opacity: 1px;
 }

 .div form {
     margin: 0 auto;
 }