 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
 }

 input{
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
 }

 .btn_go {
     background-color: lightgreen;
     color: white;
     padding: 10px;
     border-radius: 35px;
     border: none;
 }

 .btn_go:hover {
     background-color:green;
     color: black;
     font-size: 15px;
     font-family: Arial, Helvetica, sans-serif;
 }

 .justify_content{
    display: grid;
    justify-content: center;
 }


.result-content{
    color: #000;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serifw;
}